<!Doctype html>
<html>
    <head>
        <link rel="stylesheet" href="./public/main.css">
    </head>
    <body>
        <div id="menu">
            <ul>
                <li><a href="#!/">Start</a></li>
                <li><a href="#!/success">Success</a></li>
                <li><a href="#!/error">Error</a></li>
            </ul>
        </div>
        <div id="block" class="block"></div>

        <div id="react"></div>
    </body>

            <!-- Блок ввода имени пользователя -->
    <script type="text/template" id="start">
        <div class="start">
            <div class="userplace">
                <label for="username">Имя пользователя: </label>
                <input type="text" id="username" />
            </div>
            <div class="buttonplace">
                <input type="button" value="Проверить" />
            </div>
        </div>
    </script>

    <!-- Блок ошибки -->
    <script type="text/template" id="error">
        <div class="error">
            Ошибка. Пользователь  <%= username %> не найден.
            <a href="#!/">Go back</a>
        </div>
    </script>

    <!-- Блок удачи -->
    <script type="text/template" id="success">
        <div class="success">
            Пользователь <%= username %> найден.
            <a href="#!/">Go back</a>
        </div>
    </script>


    <script src='./public/main.js'></script>


</html>
